**/.DS_Store
**/.dockerignore
**/.env
/example.env
**/.git
**/.gitignore
/.github/
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/compose.y*ml
**/Dockerfile*

/bin/
/target/
/debug/
LICENSE*
README.md

docker-compose*.yml
