name: Build (Client)

on:
  push:
    branches: [ "*" ]
    paths:
      - '.github/workflows/client.yml'
      - 'datasync-minecraft/**'
  pull_request:
    paths:
      - '.github/workflows/client.yml'
      - 'datasync-minecraft/**'

env:
  JAVA_VERSION: 21

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'microsoft'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Grant execute permission for gradlew
        working-directory: datasync-minecraft
        run: chmod +x ./gradlew
      - name: Build with Gradle
        working-directory: datasync-minecraft
        run: ./gradlew build
      - name: Upload artifacts (Fabric 1.19.2)
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ${{ github.event.repository.name }}-1.19.2-Fabric-${{ github.sha }}
          path: datasync-minecraft/versions/1.19.2-fabric/build/libs/*.jar
      - name: Upload artifacts (Fabric 1.20.1)
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ${{ github.event.repository.name }}-1.20.1-Fabric-${{ github.sha }}
          path: datasync-minecraft/versions/1.20.1-fabric/build/libs/*.jar
      - name: Upload artifacts (Fabric 1.21.1)
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ${{ github.event.repository.name }}-1.21.1-Fabric-${{ github.sha }}
          path: datasync-minecraft/versions/1.21.1-fabric/build/libs/*.jar
