name: Publish (Client)

on:
  push:
    tags: ["*"]

env:
  TAG: ${{ github.ref_name }}
  BUILD_NUMBER: ${{ github.run_number }}
  JAVA_VERSION: 21

jobs:
  init:
    runs-on: ubuntu-latest
    outputs:
      BUILD_TIME: ${{ steps.setup.outputs.BUILD_TIME }}
    steps:
      - name: Setup Environment
        id: setup
        run: |
          echo BUILD_TIME=$(date '+%y.%m%d.%H%M') >> $GITHUB_OUTPUT

  publish:
    needs:
      - init
    runs-on: ubuntu-latest
    env:
      BUILD_TIME: ${{ needs.init.outputs.BUILD_TIME }}
      MAVEN_UPLOAD_URL: ${{ secrets.MAVEN_UPLOAD_URL }}
      MAVEN_UPLOAD_USERNAME: ${{ secrets.MAVEN_UPLOAD_USERNAME }}
      MAVEN_UPLOAD_PASSWORD: ${{ secrets.MAVEN_UPLOAD_PASSWORD }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'microsoft'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Grant execute permission for gradlew
        working-directory: datasync-minecraft
        run: chmod +x ./gradlew
      - name: Build with Gradle
        working-directory: datasync-minecraft
        run: ./gradlew assemble --rerun-tasks
      - name: Maven Release
        if: ${{ env.MAVEN_UPLOAD_URL }}
        working-directory: datasync-minecraft
        run: ./gradlew publish
      - name: Publish (GitHub Releases)
        id: publish_github
        uses: Kir-Antipov/mc-publish@995edadc13559a8b28d0b7e6571229f067ec7659
        with:
          github-token: ${{ github.token }}
          version-type: beta
          files: |
            datasync-minecraft/versions/*/build/libs/*.jar
